<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="my-4">List of products:
    <small>{{name}}</small>
  </h1><hr>

  <div class="row">
{%for i in products%}
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card h-100">
        <a href="/sentiment/feed/{{i.id}}"><img style='height:150px' class="card-img-top" src="https://miro.medium.com/max/1200/1*vTcPVlZYXVZ0JA1kU4FfEg.png" alt=""></a>
        <hr><div class="card-body">
          <h4 class="card-title">
            <a href="#">{{i.name}}</a>
          </h4>
          <p class="card-text">{{i.description}}</p>
        </div>
      </div>
    </div>
    {%endfor%}

    </div>


</div>
  </body>
</html>
